!!!
%html
  %head
    %title Reserv8 - Management
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'manager/application'
    = csrf_meta_tag
    
  %body
    .main
      - if flash[:alert]
        .alert= flash[:alert]

      = yield